<!-- formulario acceso -->
<div class="main-div">
  <form novalidate (ngSubmit)="acceder(user)" #f="ngForm">  

    <mat-card class="login-card" style="box-shadow: none !important;">
      <mat-card-header>
        <div mat-card-avatar class="login-header-image"></div>
        <mat-card-title>Gesti&oacute;n Colonias Canguesas</mat-card-title>
        <mat-card-subtitle>Acceso Usuarios</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
       <!-- <img mat-card-image src="https://pbs.twimg.com/profile_images/551793997102850048/cmghs1-n.jpeg" alt="Logo Colonias Canguesas"> -->
       <p>
         <mat-form-field appearance="fill" style="width:50vw !important; margin: auto 10vw;">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]="user.nombreUsuario" >
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </p> 
  
        <p>
          <mat-form-field appearance="fill" style="width:50vw !important; margin: auto 10vw;">
            <mat-label>Clave</mat-label>
            <input matInput [(ngModel)]="user.passUsuario" type="password">
            <input [style.display]="'none'" type="submit">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="acceder(user);">Entrar</button>
      </mat-card-actions>
    </mat-card>
    
  </form>
  </div>
  
  <!-- fin formulario acceso -->