<!-- vista info general -->
<app-menu></app-menu>

<div>
    <p></p>
    <mat-icon matBadge="35" matBadgeColor="warn">pets</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="aligned-with-icon">
        numero de gatos controlados
    </span>

    <p></p>
    <mat-icon matBadge="15" matBadgeColor="warn">place</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="aligned-with-icon">
        numero de colonias controladas
    </span>
</div>
<!-- fin vista info general-->
<div>

</div>
<div>

</div>

